

.name-restaurant{
  float: left;
  width: 50%;
}

@media screen and (max-width:600px) {
  .image-restaurant {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .name-restaurant {
    width: 100%;
  }
}

.banner-show{
  height: 250px;
}

.insta img{
  width: 25px;
  border-radius: 50%;
}

.flex-title{
  background-color: pink;
  text-align: center;
  padding: 20px;
  margin: 10px;
}



.btn-link {
    font-weight: 400;
    color: #537ec5;
    text-decoration: none;
}

.btn-outline-success {
    color: #64B6AC;
    border-color: #64B6AC;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #525252;
    text-align: center;

}

.description{
  text-align: justify;
}
.card-logo{
  width: 30px;
}

@media (min-width: 992px){
.col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    /* max-width: 33.333333%; */
}
}
