<div class="footer">

  <div class="footer-copyright">
    <p>© BruxellesFood</p>
  </div>
    <%= link_to "https://www.instagram.com/bruxellesfood/?hl=fr", class: "navbar-brand" do %>
    <div class="insta">
    <%= image_tag "https://res.cloudinary.com/dcjfitqds/image/upload/v1590498865/Capture_d_e%CC%81cran_2020-05-26_a%CC%80_15.14.09_kidsum.png" %>
  <% end %>
</div>
</div>
