


<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-sticky">
  <div class="custom-navbar">
    <div class="col-4">
      <div class="search-navbar">


  <%= link_to "https://www.instagram.com/bruxellesfood/?hl=fr", class: "navbar-brand" do %>
    <%= image_tag "https://res.cloudinary.com/dcjfitqds/image/upload/v1590063300/Capture_d_e%CC%81cran_2019-01-05_a%CC%80_09.58.02_oqx51i.png" %>
  <% end %>
    </div>
      </div>
    </div>
     <div class="col-4">
      <div id="navbar-title">
        <a>BruxellesFood</a>
      </div>
    </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", home_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "All restaurants", restaurants_path, class: "nav-link" %>
      </li>


    </ul>
  </div>
</div>
