<h2>Meet our team</h2>
<ol>
  <li>Thanh</li>
  <li>Dimitri</li>
  <li>Germain</li>
  <li>Damien</li>
  <li>Julien</li>
</ol>

<%= link_to "Know more about us", about_path %>
<%= link_to "Meet our team", contact_path %>
