<%= render 'shared/navbar' %>
<div class="banner-show" style="background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1335&q=80);">
</div>
<div class="container">

  <h1> All restaurants </h1>
   <hr class="mt-2 mb-5">

</div>
<%= render 'shared/footer' %>

