.navbar-lewagon {
  justify-content: space-between;
  background: white;
    position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;


}


.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius:50px;
}

#navbar-title{

  font-family: Georgia;
  font-size: 30px;


}
.justify-content-between {
    -webkit-box-pack: justify !important;
    justify-content: space-between !important;

}
